* text=auto

/.github              export-ignore
/[Dd]ocker*           export-ignore
/.*                   export-ignore
/sdk/php/phpunit.xml* export-ignore
/sdk/php/phpstan.*    export-ignore
/sdk/php/tests        export-ignore
/Makefile             export-ignore
