body {
    overflow-x: hidden;
}

.wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.wrapper.toggled {
    padding-left: 240px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 240px;
    width: 0;
    height: 100%;
    margin-left: -240px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    overflow-x: hidden;
}

.wrapper.toggled #sidebar-wrapper {
    width: 240px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

.wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -240px;
}


/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 240px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav .search {
    width: 83%;
    margin: 1em;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav>.sidebar-brand a {
    color: #999999;
}

.sidebar-nav>.sidebar-brand a:hover {
    color: #fff;
    background: none;
}

.plate-item {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 5px;
    transition: background-color 200ms linear;
}

.plate-item.active {
    background-color: #ebebeb;
    box-shadow: 0 0 15px rgba(30, 30, 30, 0.2);
}

.plate-item .name {
    font-weight: bold;
    font-size: 1em;
}

.plate-item .hints {
    position: absolute;
    bottom: 15px;
    width: 100%;
}

.plate-item .hints .badge {
    opacity: 0.9;
}

.modal {
    display: block;
}

@media(min-width:768px) {
    .wrapper {
        padding-left: 0;
    }
    .wrapper.toggled {
        padding-left: 240px;
    }
    #sidebar-wrapper {
        width: 0;
    }
    .wrapper.toggled #sidebar-wrapper {
        width: 240px;
    }
    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }
    .wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}